@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:800&display=swap');

body {
    margin: 0;
    font-family: 'Darker Grotesque', sans-serif;
    height: 100%;
}

input {
    font-family: 'Darker Grotesque', sans-serif;
}

html,
body > div {
    height: 100%;
}
